@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --main-font: "Lato", sans-serif;
  --main-color-red: #a31600;
}

body {
  font-family: var(--main-font);
}

.fa-cart-plus,.fa-trash-alt,.fa-edit {
  cursor: pointer;
  
}
a:link,a:visited{
    color:black;
}

.spinner-container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index:111;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.spinner-container2{
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index:111;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* .ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */
/* Cards */

.cardImg {
  height: 200px;
}
.cardImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card-title {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-details {
  padding: o;
}
.card-details i {
  color: var(--main-color-red);
}
/* Navbar */
nav input.form-control.input-search {
  border: none;
  outline: none;
}
nav a {
  color: #181818;
}
nav img {
  width: 140px;
}
nav .nav-links-main a {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
.nav-links-main .nav-sale a {
  color: var(--main-color-red);
}
/* Hero */

.hero.container {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.hero.container .row {
  width: 100vw;
  margin-left: 0;
}
.hero.container .col {
  margin: 0;
  padding: 0;
}
.hero.container .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#carouselHero img {
  height: 550px;
  object-fit: cover;
}
#carouselHero .carousel-inner .carousel-caption {
  transform: translateY(-70%);
}
#carouselHero .carousel-inner .carousel-caption h1 {
  font-size: 3.5em;
  font-weight: 800;
}
#carouselHero .carousel-inner .carousel-caption p {
  font-size: 1.5em;
  font-weight: 600;
}

/* Best Sellers */
.bestsellers h2 {
  color: var(--main-color-red);
}

.bestsellers h4 {
  margin-top: -10px;
}
.bestsellers .card {
  border: 0px;
}

#bestsellers-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

/* Under 50 */
#under5-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

/* -----------DETAILS PRODUCT PAGE--------------*/

.details__container{
    margin-top: 10%;;
}
.details__container h4{
font-weight: 700;
color:var(--main-color-red)
}
.details__container h5{
font-weight: 700;

}

